
    <div style="text-align:center">
        <h1>Kontakta oss</h1>
        </div>
        <h2>Har du en fråga?</h2>
        <h3></h3>

        <address>
            Hej och välkommen till våran konntakt sida. Här hittar du information till hur du hittar oss och kontaktar oss.<br />
        </address>

        <h3>Hitta till oss! Vi finns här!</h3>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4079.3599479012037!2d15.240530222654352!3d59.25478803619627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465c68be4bfe7837%3A0xdfdabe0078c8642!2s%C3%96rebro%20universitet!5e0!3m2!1ssv!2sbe!4v1649231548427!5m2!1ssv!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <h3>Hittade du inte ditt svar? Kontakta oss!</h3>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>

