@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">

    <div class="bg-light">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                    <h1 class="display-4">Hattmakarna</h1>
                    <p class="lead text-muted mb-0">En hatt kan säga mer än tusen ord!</p>

                </div>

            </div>
        </div>
    </div>

    <div class="bg-white py-5">
        <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6 d-none d-lg-block"><img src="~/Images/finehat.png" alt="" class="img-fluid"></div>
                <div class="col-lg-6 order-2 order-lg-1">
                    <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                    <h2 class="font-weight-light">Varför köpa en hatt?</h2>
                    <p class="font-italic text-muted mb-4"> Hattar har används länge, med många fördelar såsom; skydd från UV-strålning, håller värme, skyddar mot regn, hjälper till att uttrycka ens personlighet; en hatt kan ge självsäkerhet till den allra blygaste! </p>
                </div>

            </div>

            <div class="row align-items-center">

                <div class="col-lg-6">
                    <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                    <h2 class="font-weight-light">Varför köpa våra hattar?</h2>
                    <p class="font-italic text-muted mb-4">
                        På vårat hattmakeri erbjuder vi bara de allra bästa kvalite i material och slutprodukt!
                        Vi jobbar nära med kunden och ser till att hatten blir precis som du vill ha den.
                    </p>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="~/Images/cowboyhat.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            </div>




        </div>
    </div>

    <p><a href="~/Home/Contact" class="btn btn-primary btn-lg">Kontakta oss! &raquo;</a></p>
</div>




