@model Data.Models.StatisticsViewModel

@{
    ViewBag.Title = "Statistik";
}

<h2>Statistik</h2>
<br />
<br />

<div>
    <h3>Moms för @DateTime.Now.Year</h3>
    <h4>Total moms från ordrar detta år: @Html.DisplayFor(model => model.TotalVAT)  </h4>
</div>
<br />
<div>
    <h3>Sälj statistik:</h3>
    <table class="table">

        @if (Model.SorteradeOrders != null)
        {
            foreach (var item in Model.SorteradeOrders)
            {
                var antal = Model.SamtligaOrders.Where(x => x.OrderProductId == item.OrderProductId).Count();
                var namn = Model.SamtligaProdukter.Where(x => x.productId == item.OrderProductId).FirstOrDefault().Title;
                <tr>
                    <td>
                        @namn
                    </td>
                    <td>
                        Antal sålda produkter: @antal
                    </td>

                </tr>
            }
        }

    </table>
</div>

