
@{
    ViewBag.Title = "EmailNotConfirmed";
}

<h2>E-post ej bekräftad</h2>


<div>
    <p>
        Vänligen bekräfta din e-postadress innan inloggning. Efter bekräftelsen är klar, vänligen försök igen genom att: @Html.ActionLink("Logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
