
@{
    ViewBag.Title = "WrongCode";
}

<h2>WrongCode</h2>

<div>
    <h4>Fel anställnings kod!</h4>
    <hr />
    <p>Du har angett fel anställningskod.</p>
</div>
<p>
    
    @Html.ActionLink("Back to register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
</p>